body
{
	    background: linear-gradient(to right, #200122, #6f0000);
	}
div.header_logo img
{
	width: 210;
	height: 200px;
	margin-left: 2%;
	margin-top: 2%;
	border-radius: 35%;
}
img.mySlides
{
	margin-left:370px;
}
div.slideshow
{
	margin-right:500px;
}
div.header
{

}
div.header h4 img
{
	 height: 110px;
     width: 100px;
}
div.header h1
{
	display: inline;
	font-family: Courier New;
	float: right;
	padding-right: 40%;
	font-size: 4em;
	color: #ff3399;
}
div.header h2
{
	display: inline;
	padding-left: 280px;
	color: #cc3300;
	position: relative;
	top: -100px;
	font-size: 2em;
}
div.main
{
	height: 600px;
}
.btn {
  background-color:#ff0066;
  border: none;
  color: black;
  padding: 18px 35px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.5s;
  font-style: italic;
  border-radius: 12px;
    cursor: pointer;
    display: inline-block;
    margin-left: 20px;
}

.btn:hover {
  background-color: #ff66ff;
  box-shadow: 0 12px 16px 0 rgb(102, 0, 102), 0 17px 50px 0;
  padding-right: 25px;
  opacity: 1;
  right: 0;

}
div.footer 
{
	background-color: white;
	height: 100px;
}

div.footer_join a 
{
float: right;
position: relative;
left: -20px;
}
div.footer a img {
	width: 50px;
	height: 50px;
	position: relative;
	left: 60px;
	top: -10px;
}
div.footer h3 {
	text-align: center;
}