body
{
	    background: linear-gradient(to right, #200122, #6f0000);
	}
div.header_logo img
{
	width: 210;
	height: 200px;
	margin-left: 2%;
	margin-top: 2%;
	border-radius: 35%;
}

div.header
{

}
div.header h4 img
{
	 height: 110px;
     width: 100px;
}
div.header h1
{
	display: inline;
	font-family: Courier New;
	float: right;
	padding-right: 40%;
	font-size: 4em;
	color: #ff3399;
}
div.header h2
{
	display: inline;
	padding-left: 280px;
	color: #cc3300;
	position: relative;
	top: -100px;
	font-size: 2em;
}
.topnav 
{
  overflow: hidden;
  background-color: #ff0066;
  margin-top: -40px;
  height: 50px;
}

.topnav button{
	float: right;
	padding-top: 6px 10px;
	margin-top: 8px;
	background-color: #ff0066;
	border:none;
	display: block;
	font-size: 17px;

}

.topnav a
{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ff66ff;
  color: black;
}

.topnav .search-container {
  float: right;
  margin-top: 2px;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  position: relative;
  top: -20px;

}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}
.topnav a.active
{
margin-top: -25px;
float: right;
}



.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
 
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  text-decoration: none;
}
.card
{
  width:250px;
}
.card button:hover {
  opacity: 0.7;
}
.btn {
  background-color:#ff0066;
  border: none;
  color: black;
  padding: 18px 35px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.5s;
  font-style: italic;
  border-radius: 12px;
    cursor: pointer;
    display: inline-block;
    margin-left: 20px;
}
.card h3
{
  font-size: 40px;
  color: black;

}
.card p
{
  color: white;
  text-decoration: none;
}
.btn:hover {
  background-color: #ff66ff;
  box-shadow: 0 12px 16px 0 rgb(102, 0, 102), 0 17px 50px 0;
  padding-right: 25px;
  opacity: 1;
  right: 0;

}
div.footer 
{
  background-color: black;
  height: 100px;
  width: auto;

}

div.footer_join a 
{
  float: right;
position: relative;
left: -50px;
top: -70px;
color: #ff66cc;
}
div.footer a img {
  width: 50px;
  height: 50px;
  position: relative;
  left: 60px;
  top: -10px;
}
div.footer h3 {
  text-align: center;
  position: relative;
  left: 50px;
  top: 35px;
  color: #ff66cc;
}
  
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  margin-top: 20px;
  margin-left: 10px;
  height: auto;
  width: auto;
}
.fa-instagram {
  background: #ff3399;
  color: white;
  height: auto;
  width: auto;
}
.icon-bar {
  position: absolute;
  top: 90%;
  right: 0%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 50px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
} 
.insta{
  background:#ff3399;
}
.whatsapp {
  background-color: #00cc66;
}

